$lr-green: #70C262;
$lr-gray: #d9d9d9;

@mixin flex-column {
    display: flex;
    flex-flow: column nowrap;
}

@mixin flex-row {
    display: flex;
    flex-flow: row nowrap;
}

@mixin flex-column-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}