.a{
  width:600px;
  margin-left:25%;
  margin-top:50px;
}
.login_form {
  max-width: 300px;
  margin-top:100px;
  margin-left: 40%;
}
.login_form_forgot {
  float: right;
}
.login_form_button {
  width: 100%;
}